{% extends 'base_app/base.html' %}

{% block title %} Dem Transfert {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}
{% load humanize %}

{% block css_styles %}

{% endblock %}

{% block content %}

    <div class="py-2 p-md-3">
        <!-- Title + Delete link-->
        <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
            <h1 class="h3 mb-2 text-nowrap">Situation Comptable</h1>
        </div>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                {{ error }}
            </div>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </br></br>

        <a href="{% url 'situation_comptable_du_jour' %}" data-bs-toggle="tooltip" title="Cliquer pour plus de détails" style="text-decoration: none;">
            <div class="bg-secondary h-100 p-4 text-center rounded text-heading" align="center">
                <h3>Voir la situation comptable du jour</h3>
            </div>
        </a>
        </br></br>

        <div class="row">
            <div class="col-sm-5 bg-info h-100 p-4 text-center rounded text-heading" align="center">
                <h4>Recherche avec une date</h4></br>
                <form action="{% url 'search_situation_comptable1' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control" type="date" name="date_search"></br>
                    <button type="submit" class="btn btn-success" name="search_one_date" value="search_one_date">
                        Rechercher
                    </button>
                </form>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6 bg-info h-100 p-4 text-center rounded text-heading" align="center">
                <h4>Recherche avec deux date</h4></br>
                <form action="{% url 'search_situation_comptable1' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control" type="date" name="date_search1"></br>
                    <input class="form-control" type="date" name="date_search2"></br>
                    <button type="submit" class="btn btn-success" name="search_two_date" value="search_two_date">
                        Rechercher
                    </button>
                </form>
            </div>
        </div>

    </div>



{% endblock %}